body {
    -webkit-user-select: none;
}
#titlebar {
    -webkit-app-region: drag;
    height: 25px;
    background-color: transparent;
    display: flex;
    align-content: flex-start;
}
.titlebar_button {
    -webkit-app-region: no-drag;
    border: 1px black solid;
    width: fit-content;
    height: fit-content;
    margin-left: 1%;
}
/* #close_button {} */
#minimize_button {
    margin-left: auto;
}
#main_container {
    background-color: green;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 23% 54% 23%;
    grid-template-rows: 15% 82% 3%;
}
#head_panel {
    background-color: #525252;
    grid-column: 1 / -1;
}
#left_pane {
    background-color: #313131;
}
#right_pane {
    background-color: #313131;
    position: relative;
}
#bot_pane {
    background-color: #525252;
    grid-row: 3;
    grid-column: 1/4;
}
/* The gamezone styles */
#gamezone {
    background-color: #414141;
    
    display: grid;
    grid-template-columns: 72px 72px 72px 72px 72px 72px 72px;
    grid-template-rows: 10px 72px 72px 72px 72px 72px 72px 72px 50px;
    justify-content: center;
}
#gamezone_filler {
    background-color:transparent;
    grid-column: 1/-1;
}
.letterblock {
    border: 1px #131313 solid;
    color: #131313;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
}
/* The keyboard styles */
#keyboard {
    margin-top: 5px;
    grid-column: 1/-1;
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.letter {
    margin-left: 12%;
    font-size: 18px;
    text-align: center;
    background-color: #909090;
    color: #131313;
    border: 1px #131313 solid;
    border-radius: 10%;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px 0px black;

}
/* Drag'n'drop classes */
.hovered {
    border-color: #ca3e47;
}
.hold {
    border: 2px #ca3e47 solid;
}
.invisible {
    display: none;
}
/* Right pane */
#wordlist {
    border: 1px black solid;
}
#right_pane_buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;

}
.rp_button {
    background-color: #414141;
    box-shadow: 2px 2px 1px 0px black;
    width: 80px;
    height: fit-content;
    margin-left: 17px;
    text-align: center;
}
#remove_letter_button {
    pointer-events: none;
}
#remove_word_button {
    pointer-events: none;    
}
.rp_button:hover {
    background-color: #313131;
}