body {
    -webkit-user-select: none;
}
#titlebar {
    -webkit-app-region: drag;
    height: 25px;
    background-color: transparent;
    display: flex;
    align-content: flex-start;
}
.titlebar_button {
    -webkit-app-region: no-drag;
    border: 1px black solid;
    width: fit-content;
    height: fit-content;
    margin-left: 1%;
}
/* #close_button {} */
#minimize_button {
    margin-left: auto;
}
#main_container {
    background-color: black;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 23% 54% 23%;
    grid-template-rows: 15% 82% 3%;
}
#head_panel {
    background-color: darkslategray;

    grid-column: 1 / -1;
}
#left_pane {
    background-color: darkgray;
}
#right_pane {
    background-color: darkgray;
}
#bot_pane {
    background-color: grey;
    grid-row: 3;
    grid-column: 1/4;
}
/* The gamezone styles */
#gamezone {
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 72px 72px 72px 72px 72px 72px 72px;
    grid-template-rows: 10px 72px 72px 72px 72px 72px 72px 72px 50px;
    justify-content: center;
}
#gamezone_filler {
    background-color:transparent;
    grid-column: 1/-1;
}
.letterblock {
    border: 1px black solid;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
}
#keyboard {
    margin-top: 5px;
    grid-column: 1/-1;
    background-color: wheat;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
.letter {
    font-size: 18px;
    text-align: center;
    border: 1px black solid;
    border-radius: 10%;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
}
