body {
    -webkit-user-select: none;
}
#main_container {
    background-color: #282a36;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    padding: 7px;
    border: 3px #14151b solid;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#w2 {
    margin-top: 7px;
}
#w3 {
    margin-top: 27px;
}
#lobby_title {
    width: 250px;
}
input {
    height: 15px;
    margin-top: 10px;
}
#i_lock {
    margin: 17px 15px 0px 10px;
    font-size: 22px;
    width: 20px;
}
#pass {
    width: 150px;
}
.innactive {
    pointer-events: none;
}
#i_user {
    margin: 17px 0px 0px 10px;
}
#number_of_players {
    width: 30px;
    height: 40px;
    margin-top: 6px;
}
#cancel_button {
    margin-left: auto;
}
.wrong_input:focus {
    box-shadow:0 0 0 2px rgba(206, 6, 39, 0.67)
}