body {
    -webkit-user-select: none;
}
#main_container {
    background-color: green;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#titlebar {
    grid-column: 1 / -1;
}
#left_pane {
    background-color: #282a36;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15fr 1fr;
    padding: 6px;
}
#tierlist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.player {
    background-color: rgba(0, 0, 0, 20%);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 110px;
}
.nowTurns {
    border: 2px #50fa7b solid;
}
.user_profile_avatar {
    grid-column: 1;
    grid-row: 1 / 3;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}
.user_profile_username {
    grid-template-rows: 1fr 1fr;
    grid-row: 1;
    grid-column: 2;
    margin-top: 10px;
    color: #50fa7b;
}
.user_profile_userlvl {
    grid-row: 2;
    grid-column: 2;
    font-size: small;
    font-style: italic;
    color: #f1fa8c;
}
.user_turn_progressbar {
    border: 1px green solid;
    grid-row: 3;
    grid-column: 1 / -1;
    max-height: 7px;
    margin: 20px 4px 4px 4px;
}
#right_pane {
    background-color: #282a36;
    position: relative;
}
#bot_pane {
    background-color: #1f212b;
    height: 24px;
    grid-row: 4;
    grid-column: 1/4;
}
/* The gamezone styles */
#gamezone {
    height: 93vh;
    background-color: #44475a;
    display: grid;
    grid-template-columns: 72px 72px 72px 72px 72px 72px 72px;
    grid-template-rows: 10px 72px 72px 72px 72px 72px 72px 72px 50px;
    justify-content: center;
}
#gamezone_filler {
    background-color:transparent;
    grid-column: 1/-1;
}
.letterblock {
    border: 1px #131313 solid;
    color: #131313;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
}
/* The keyboard styles */
#keyboard {
    margin-top: 5px;
    grid-column: 1/-1;
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.letter {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20%;
    background-color: #909090;
    color: #131313;
    border: 1px #131313 solid;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px 0px black;

}
/* Drag'n'drop classes */
.hovered {
    border-color: #50fa7b;
}
.hold {
    border: 2px #50fa7b solid;
}
.invisible {
    display: none;
}
/* Right pane */
#wordlist {
    height: 500px;
}
.used_word {
    margin: 3px;
}
#used_words {
    height: 98%;
    width: 80%;
    overflow: hidden;
    overflow-y: scroll;
}
#right_pane_buttons {
    height: 16%;
    display: grid;
    margin-top: 5px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.rp_button {
    height: fit-content;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    justify-content: space-around;
    background-color: #44475a;
}
#confirm_word_button {
    padding: 3px;
    pointer-events: none;
    height: 40px;
    grid-column: 1/-1;
}
#remove_letter_button {
    pointer-events: none;
    grid-row: 2;
    margin-bottom: 10px;
    margin-top: 13px;
}
#remove_word_button {
    pointer-events: none;
    grid-row: 2;
    margin-bottom: 10px;
    margin-top: 13px;
}
/* Game over popup */

.bg_modal { 
    
}