body {
  -webkit-user-select: none;
  overflow: hidden;
}
#main_container {
  background-color: #282a36;
  position: absolute;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  display: grid;
  grid: 'headbar headbar' auto
        'top top' 1fr
        'left center' 6fr
        'bot bot' auto
    / 15em 1fr
  ;
}
#head_panel { grid-area: headbar; }
#top {
  grid-area: top;
  background-color: #1f212b;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px black  solid;
}
#left {
  grid-area: left;
  background-color: #282a36;
  display: grid;
  grid-template-rows: 33em auto;
  grid-template-columns: 9em auto;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px black  solid;
}
#center {
  grid-area: center;
  background-color: #44475a;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}
#bot {
  grid-area: bot;
  background-color: #1f212b;
}
/* Top pane */
#user_profile_card {
  margin-top: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#user_profile_avatar {
  grid-area: avatar;
  grid-column: 1;
  grid-row: 1 / -1;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
}
#user_profile_username {
  grid-area: username;
  grid-template-rows: 1fr 1fr;
  grid-row: 1;
  grid-column: 2;
  color: #50fa7b;
  margin-top: 10px;
  margin-left: 5px;
}
#user_profile_userlvl {
  grid-area: lvl;
  grid-row: 2;
  grid-column: 2;
  font-size: small;
  font-style: italic;
  color: #f1fa8c;
  margin-left: 10px;
}
#search_block {
  display: grid;
  margin: 35px 20px 10px 20px;
  grid-template-columns: 7fr 1fr 1fr 1fr;
}
/* Left pane */
#chat_list {
  padding: 0;
  list-style-type: none;
  grid-column: 1 / -1;
  overflow: hidden;
  overflow-y: scroll;
}
.chat_input {
  grid-column: 1;
  height: 17px;
  width: 139px;
}
#send_message {
  grid-column: 2;
  margin-left: 20px;
  height: 37px;
  width: 60px;
  padding: 0;
}
.message {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto auto;
  margin: 10px 6px 0 6px;
  background-color:  rgba(68, 71, 90, 25%);
  border-radius: 6px;
}
.message_username {
  grid-row: 1;
  grid-column: 1;
  font-size: 12px;
  padding: 4px 0 0 6px;
  color: #50fa7b;
}
.message_text {
  grid-row: 2;
  grid-column: 1 / 3;
  padding: 6px;
  font-size: 12px;
  overflow: hidden;
  word-wrap: break-word;
}
.message_time {
  grid-row: 1;
  grid-column: 2;
  text-align: end;
  font-size: 9px;
  padding: 5px 7px 0 4px;
}
/* Central pane */
#lobby_list {
  list-style-type: none;
  margin-right: 4px;
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar-track{
  margin-top: 7px;
  margin-bottom: 7px;
}
.closed_lobby {
  opacity: 0.75;
}
.lobby_block {
  background-color: #282a36 ;
  border-radius: 6px;
  margin: 20px 10px 8px 10px;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr 1fr;
  justify-content: center;
}
#fa-lock {
  height: fit-content;
  width: fit-content;
  margin-top: 24px;
  font-size: 18px;
}
.lobby_title {
  background-color: rgba(68, 71, 90, 25%);
  border-radius: 6px;
  padding: 6px;
  height: 22px;
  margin: 17px 10px 10px 10px;
  font-size: 17px;
  -webkit-user-select: text;
}
.players_count {
  background-color: rgba(68, 71, 90, 25%);
  border-radius: 6px;
  padding: 6px;
  display: grid;
  width: fit-content;
  height: fit-content;
  margin: 17px 10px 10px 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
#fa-users {
  height: fit-content;
  margin-top: 2px;
  margin-right: 2px;
}
.connected {
  width: 20px;
  height: fit-content;
}
.required {
  width: 10px;
  height: fit-content;
}
.pass_wrap {
  margin: 15px 10px 10px 10px;
}
.pass_input {
  background-color: wheat;
}
.join_button {
  height: 37px;
  margin: 15px 10px 10px 10px;
}
#wrong_input:focus {
  box-shadow:0 0 0 2px rgba(206, 6, 39, 0.67)
}