body {
    -webkit-user-select: none;
}
#main_container {
    background-color: #282a36;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
}
#login_card_container {
    height: 673px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_card {
  background-color: #44475a;
  border-radius: 25px;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: inherit;
}
#login,#register {
  display: grid;
  align-items: center;
  margin-top: 60px;
  grid-template-rows: 1fr 1fr 1fr 1fr auto auto
}
#avatar {
  border: black solid 2px;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  position: absolute;
  top: 135px;
  left: 425px;
  background-image: url("../../resources/img/user.png");
  background-size: contain;
}
#avatar_image {
  border-radius: 50%;
}
#wrong_input :focus {
    box-shadow:0 0 0 2px rgba(206, 6, 39, 0.67)
}
#register_button, #cancel_register_button {
	font-size: 12px;
	color: grey;
}
